.DS_Store

# Go
backend/bin/
backend/coverage.out

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/android/key.properties
mobile/android/*.jks

# Local env
backend/.env
backend/.env.production

# Docker volumes
postgres_data/
minio_data/
